.container {
  width: auto;

  .header {
    width: 100%;
    text-align: center;
    padding: 70px 0;

    .header-text {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 40px;
    }
  }

  .body {
    min-height: calc(100vh - 300px);
    margin-left: 10px;
  }
}
