<mat-toolbar>
  <button
    mat-icon-button
    aria-label="Example icon-button with menu icon"
    (click)="drawer.toggle()"
    style="color: #ffffff"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div class="logo-wrapper" (click)="onClick()">
    <img src="assets/icons/logo.png" alt="nguyenphat-logo" />
  </div>
  <span class="page-title" (click)="onClick()">Cửa hàng Nguyên Phát</span>
</mat-toolbar>

<mat-drawer-container #navContainer>
  <mat-drawer #drawer opened="false" mode="side">
    <div class="menu-wrapper" *ngIf="this.page == 'shop'">
      <mat-form-field class="search-form">
        <input type="tel" matInput placeholder="tìm kiếm" name="search" [(ngModel)]="dataSearch" />
        <button matSuffix mat-button (click)="search()" class="search-btn">
          <mat-icon style="color: #ffffff">search</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button class="redirect-admin" (click)="admin_page()">
        <mat-icon style="color: #ffffff">people icon</mat-icon>
        <span class="group-text">ADMIN</span>
      </button>
      <mat-expansion-panel *ngFor="let g of menuGroups">
        <mat-expansion-panel-header collapsedHeight="56px" expandedHeight="56px">
          <mat-icon style="color: #ffffff">{{ g.matIcon }}</mat-icon>
          <span class="group-text">{{ g.title }}</span>
        </mat-expansion-panel-header>
        <mat-nav-list matExpansionPanelContent>
          <div *ngFor="let m of g.menus">
            <a
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
              class="nav-item"
              (click)="onActionClick(m.url, m.type)"
            >
              <div class="logo-title">
                <img src="{{ m.thumbnailLink }}" />
              </div>
              <span class="nav-text">{{ m.name }}</span>
            </a>
          </div>
        </mat-nav-list>
      </mat-expansion-panel>
    </div>
    <div class="menu-wrapper" *ngIf="this.page == 'admin'">
      <button mat-raised-button class="redirect-shop" (click)="shop_page()">
        <mat-icon style="color: #ffffff">home icon</mat-icon>
        <span class="group-text">SHOP</span>
      </button>
      <button mat-raised-button class="btn-brand" (click)="redirect_page(this.brand)">
        <mat-icon style="color: #ffffff">shop</mat-icon>
        <span class="group-text">Hãng sản xuất</span>
      </button>
      <button mat-raised-button class="btn-category" (click)="redirect_page(this.category)">
        <mat-icon style="color: #ffffff">bookmark</mat-icon>
        <span class="group-text">Danh mục</span>
      </button>
      <button mat-raised-button class="btn-product" (click)="redirect_page(this.product)">
        <mat-icon style="color: #ffffff">archive icon</mat-icon>
        <span class="group-text">Sản phẩm</span>
      </button>
      <button mat-raised-button class="btn-user" (click)="redirect_page(this.user)">
        <mat-icon style="color: #ffffff">people icon</mat-icon>
        <span class="group-text">Tài khoản</span>
      </button>
      <div class="foot-wrapper">
        <a class="nav-item" (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span class="nav-text">Đăng Xuất</span>
        </a>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="routerWrapper">
      <router-outlet></router-outlet>
      <mat-card-footer *ngIf="this.page == 'shop'">
        <div class="footer-col" fxLayout="row wrap" fxLayoutGap="grid">
          <div fxFlex="50%" fxFlex.lg="50%" fxFlex.sm="100%" fxFlex.lt-sm="100%">
            <div>
              <h1>Cửa hàng Nguyên Phát</h1>
            </div>
          </div>
          <div fxFlex="50%" fxFlex.lg="50%" fxFlex.sm="100%" fxFlex.lt-sm="100%">
            <div>aaaaaaaaaaaaaaaaa</div>
          </div>
        </div>
        <div class="copyright">
          <span class="copyright-text">&copy; 2023 Copyright</span>
        </div>
      </mat-card-footer>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
